/********* Additional-options - Removes labels for checkboxes **********/
.wpcf7-form .additional-options span.wpcf7-list-item-label {
    display: none !important;
}
/******** Edit page css for custom fields of DEALS *********/
.deal_css > .acf-label {
    display: none;
}

.deal_css {
    border: 0px!important;
}

.deal_css>.acf-input>.acf-input-wrap input {
    padding: 0.63em;
    height: auto;
}

.deal_css>.acf-input>.acf-input-prepend{
    padding: 0.63em;
    height: auto;
}
.deal_text {
    border-top: #EEEEEE solid 0px!important;
}
.deal_css.acf-field .acf-error-message {
    position: absolute;
    top: -3.5em;
    left: 3em;
}
