/* Main Site Nav */
.site-nav {
  border-top: solid 1px #cdcdcd;
  border-bottom: solid 1px #cdcdcd;
  margin-top: 2em;
  /* background: white;
  background: -moz-linear-gradient(top, white 0%, #f2f2f2 100%);
  background: -webkit-linear-gradient(top, white 0%, #f2f2f2 100%);
  background: linear-gradient(to bottom, white 0%, #f2f2f2 100%);  */
  background: #f5f5f5;
}
  .site-nav .row {
    position: relative; }
  .site-nav ul {
    float: left;
    font: 400 1.4em Montserrat, "Helvetica Neue", helvetica, arial, sans-serif;
    position: relative;
    border-left: solid 1px rgba(0, 0, 0, 0.1);
    border-right: solid 1px white; }
    .site-nav ul li {
      display: inline-block;
      float: left;
      position: relative;
      transition: all 0s ease-in-out;
      -moz-transition: all 0s ease-in-out;
      -webkit-transition: all 0s ease-in-out; }
      .site-nav ul li:hover {
        background: #ebebeb; }
      .site-nav ul li a,
      .site-nav ul li .mega-toggle {
        color: #0b2d4c;
        padding: 1.5em 0.9em;
        display: block;
        position: relative;
        z-index: 99999999999999999999999;
        /* border-top: solid 1px white; */
        border-right: solid 1px rgba(0, 0, 0, 0.1);
        /* border-left: solid 1px white; */
        text-transform: capitalize; }
        .site-nav ul li a:hover,
        .site-nav ul li .mega-toggle:hover {
          background: #ebebeb;
          color: #0b2d4c;
          position: relative;
          text-shadow: 0 0 .65px #333, 0 0 .65px #333;
          /* z-index: 99999; */ 
        }
        
      .site-nav ul li .mega-toggle:hover {
        background: #0b2d4c;
        color: white; }
        .site-nav ul li .mega-menu{
          width: 22em;
        }
        .site-nav ul li:nth-child(3).mega-menu{
          width: 45em !important;
        }
        li.nav-all {
          position: static !important;
      }
      .mega-menu.mega-menu-all {
        width: 100% !important;
    }
        .menu-item-full{
          width:100% !important;
        }
      .site-nav ul li .mega-menu {
        font-size: 1em;
        visibility: hidden;
        z-index: -99;
        position: absolute;
        left: 0;
        right: 0em;
        /* box-shadow: 0em 0em 1em 0 rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0em 0em 1em 0 rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0em 0em 1em 0 rgba(0, 0, 0, 0.2); */
        transition: opacity 0.4s ease-in-out, top 0.2s ease-in-out;
        -moz-transition: opacity 0.4s ease-in-out, top 0.2s ease-in-out;
        -webkit-transition: opacity 0.4s ease-in-out, top 0.2s ease-in-out; }
        .site-nav ul li .mega-menu li:hover:before {
          display: none; }
        .site-nav ul li .mega-menu .section-nav {
          padding: 1.666667em;
		  background:#ebebeb !important;
          position: relative;
          top: 0;
        }
        .section-menu{
          background: #ebebeb; 
          border-left: solid 1px #cdcdcd;
          border-right: solid 1px #cdcdcd;
          border-bottom: solid 1px #cdcdcd;
          padding-bottom: 1em;
        }
        .site-nav #menu-main-navigation li .mega-menu .section-nav{
          height: auto !important;
        }
          .site-nav ul li .mega-menu .section-nav h2 {
            font-family: Lora, Georgia, serif;
            margin-top: 0;
            color: white; }
          .site-nav ul li .mega-menu .section-nav ul {
            font-size: 1em;
            border: none; }
            .site-nav ul li .mega-menu .section-nav ul li {
              margin: 0 0.5em 0.5em 0;
              display: block !important; 
              width: 100%;
              /* font-weight: bold; */
            }
            .site-nav ul li .mega-menu .section-nav ul li a{
              border-top: none !important;
              border-right: none !important;
              border-left: none !important;
              border-bottom: none !important;
            }
            .site-nav ul li .mega-menu .section-nav ul li a:hover{
              background: #ebebeb !important;
            }
              .site-nav ul li .mega-menu .section-nav ul li:hover:before {
                display: none; }
              .site-nav ul li .mega-menu .section-nav ul li a {
                    color: #0b2d4c !important;
    background: none !important;
    padding: 0.5em; }
                .site-nav ul li .mega-menu .section-nav ul li a:hover {
                  background: #ebebeb !important; }
        .site-nav ul li .mega-menu article {
          padding: 1.666667em;
          border-right: solid 1px #f3f3f3;
          position: relative;
          padding-top: 0;
          margin-top: 1.67em;
          height: 300px;
          vertical-align: middle;
          display: table-cell; }
          .site-nav ul li .mega-menu article .article-category {
            position: absolute;
            top: 1.15em;
            background: #0b2d4c; }
            .site-nav ul li .mega-menu article .article-category a {
              padding: 0.3em 0.5em !important;
              color: white !important;
              text-transform: uppercase;
              font-size: 0.8rem; }
              .site-nav ul li .mega-menu article .article-category a:hover {
                background: #0b2d4c !important; }
          .site-nav ul li .mega-menu article img {
            margin-bottom: 1em;
            max-height: 160px; }
          .site-nav ul li .mega-menu article .article-category a {
            padding: 0; }
          .site-nav ul li .mega-menu article h3 {
            margin: 0;
            height: 70px; }
          .site-nav ul li .mega-menu article a {
            color: #0b2d4c !important;
            padding: 0;
            border: none;
            text-transform: none;
            font-weight: 300; }
      .site-nav ul li:hover:before {
        content: '';
        position: fixed;
        left: 0;
        top: 20em;
        right: 0;
        bottom: 0;
        display: block;
        background: rgba(0, 0, 0, 0.7);
        z-index: -99999; }
      .site-nav ul li.nav-community a {
        background: white; }
      .site-nav ul li .mega-toggle {
        padding-left: 3em;
        position: relative;
        background: #0b2d4c;
        cursor: pointer;
        color: white; }
        .site-nav ul li .mega-toggle:before {
          content: "\f0c9";
          font: 1.2em fontawesome;
          position: absolute;
          left: 1em;
          top: 50%;
          margin-top: -0.4em;
          height: 1em;
          color: white; }
      .site-nav ul li .close-search {
        display: none; }
      .site-nav ul li .search-toggle {
        display: none;
        text-indent: -5000px;
        overflow: hidden;
        position: absolute;
        width: 4.2em;
        height: 4.2em;
        background: rgba(255, 255, 255, 0.3);
        cursor: pointer;
        top: 0;
        bottom: 0; }
        .site-nav ul li .search-toggle:before {
          content: "\f002";
          font: 1em/3.2em fontawesome;
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          text-align: center;
          text-indent: 0;
          color: #0b2d4c; }
      .site-nav ul li form {
        position: fixed;
        z-index: -999;
        opacity: 0;
        visibility: hidden;
        top: 0;
        right: 0;
        left: 0;
        bottom: 100%;
        overflow: hidden;
        background: #0b2d4c;
        padding: 0;
        transition: opacity 0.15s ease-in-out, bottom 0.4s ease-in-out;
        -moz-transition: opacity 0.15s ease-in-out, bottom 0.4s ease-in-out;
        -webkit-transition: opacity 0.15s ease-in-out, bottom 0.4s ease-in-out; }
        .site-nav ul li form label {
          position: relative;
          height: 5em;
          text-align: left;
          border-top: solid 0.2em rgba(255, 255, 255, 0.3);
          color: white;
          font-size: 1.6em;
          margin-left: 0.1em;
          padding-top: 1em; }
          .site-nav ul li form label span.screen-reader-text {
            opacity: 1;
            visibility: visible;
            z-index: 9; }
        .site-nav ul li form input[type="search"] {
          background: rgba(255, 255, 255, 0.3);
          font-size: 1.6em;
          height: auto;
          border: solid 2px rgba(0, 0, 0, 0.7);
          text-indent: 0.2em;
          width: 70%;
          box-shadow: inset 0.1em 0.1em 0.2em 0 rgba(0, 0, 0, 0.3);
          display: inline-block; }
        .site-nav ul li form button {
          display: inline-block;
          background: rgba(0, 0, 0, 0.5);
          cursor: pointer;
          z-index: 9999;
          font-size: 1.2em;
          padding: 1.25em 0em;
          width: 29%;
          float: right;
          border-top: solid 1px rgba(255, 255, 255, 0.25);
          border-left: solid 1px rgba(255, 255, 255, 0.15);
          border-bottom: solid 1px black;
          transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out; }
          .site-nav ul li form button span.screen-reader-text {
            opacity: 1;
            visibility: visible;
            z-index: 9;
            position: static;
            color: white; }
          .site-nav ul li form button svg {
            display: none; }
          .site-nav ul li form button:hover {
            background: #0b2d4c; }
      .site-nav ul li:hover .mega-menu {
        opacity: 1;
        visibility: visible;
        z-index: 9999; }
        .site-nav ul li:hover .mega-menu:before {
          left: 0;
          right: 0;
          background: #0b2d4c; }
      .site-nav ul li:nav-search {
        display: none; }
  .site-nav ul.menu-2 {
    float: right;
    position: static; }

.all-sections {
  padding: 3em; }
  .all-sections h2 {
    font: 3em Lora, Georgia, serif;
    margin: 0 0 1em 0;
    color: white; }
  .all-sections ul {
    font-size: 1em;
    border: none; }
    .all-sections ul li {
      padding-right: 3em;
      float: left !important; }
      .all-sections ul li a {
        padding: 0.75em 0em 0.75em 0;
        border: none;
        color: white;
        border-bottom: solid 1px rgba(255, 255, 255, 0.05); }
        .all-sections ul li a:hover {
          border-bottom: solid 1px rgba(255, 255, 255, 0.15);
          background: none;
          color: white; 
          border-top: none !important;
          border-right: none !important;
          border-left: none !important;
        }
      .all-sections ul li:hover {
        background: none; }

.search-form input[type="search"] {
  border: solid 3px #e3e3e3;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  width: 80%;
  float: left;
  font: lighter 1.6em Montserrat, "Helvetica Neue", helvetica, arial, sans-serif;
  color: #0b2d4c;
  height: auto;
  padding: 0.76em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out; }
  .search-form input[type="search"]:focus {
    border: solid 3px #0b2d4c; }
  .search-form input[type="search"]:focus + button {
    background: #0b2d4c;
    color: white; }
.search-form button {
  background: #e3e3e3;
  text-align: center;
  border: none;
  font: lighter 1.6em Montserrat, "Helvetica Neue", helvetica, arial, sans-serif;
  padding: 0.95em 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  width: 20%;
  float: right;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  font-weight: 300;
  color: #0b2d4c; }
  .search-form button:hover {
    background: #1d4466;
    color: white; }
  .search-form button .screen-reader-text {
    position: static;
    z-index: 9;
    opacity: 1;
    visibility: visible; }
  .search-form button svg {
    display: none; }

.menu-open .site-nav ul li .mega-toggle {
  z-index: 99; }
.menu-open .site-nav ul li .mega-menu {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  top: 4.2em; }
  .menu-open .site-nav ul li .mega-menu:before {
    left: 0;
    right: 0;
    background: #0b2d4c; }

.search-open .site-nav ul li .close-search {
  display: block;
  position: fixed;
  right: 30%;
  top: 30%;
  padding-right: 3em;
  color: white;
  z-index: 99999;
  width: 4.5em;
  font-size: 1.6em;
  cursor: pointer; }
  .search-open .site-nav ul li .close-search:after {
    content: "\f00d";
    font: 1em fontawesome;
    color: white;
    right: 0;
    top: 50%;
    margin-top: -0.5em;
    height: 1em;
    position: absolute; }
.search-open .search-form {
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  bottom: 0;
  padding: 30%; }

.top-level-nav {
  display: none;
  background: #092237; }
  .top-level-nav ul {
    font-size: 1em; }
    .top-level-nav ul li {
      display: none;
      margin: 0; }
      .top-level-nav ul li a {
        border-left: solid 1px rgba(255, 255, 255, 0.2);
        border-right: solid 1px black;
        border-top: 0;
        color: white; }